@use 'mediaq' as *;

#contacto_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25rem;
    margin-bottom: 23.5rem;

    @include mobile {
        margin-top: 20rem;
        margin-bottom: 20rem;
    }

    h1 {
        color: grey;
        text-align: center;
    }

    h2 {
        text-align: center;
    }
}